<p id="notice"><%= notice %></p>

<div id="videoheadline">
  <h1> <%= @video.headline %> </h1>
</div>
</p>

<p>

<p>
<iframe id="ytplayer" type="text/html" width="640" height="390"
  src="http://www.youtube.com/embed/<%= @video.youtubeid %>"
  frameborder="0"/>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
