<p id="notice"><%= notice %></p>

<div id="videoheadline">
  <h1> <%= @video.headline %> </h1>
</div>

<p>
<iframe id="ytplayer" type="text/html" width="640" height="390"
  src="http://www.youtube.com/embed/<%= @video.youtubeid %>?rel=0&autoplay=1"
  frameborder="0"/>
  </iframe>
</p>

<div id="sharemodule">
  <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}" do %>

<div id="fbshare">
  Share on Facebook
</div>
  <% end %>
  <%= link_to "https://twitter.com/share?text=#{@video.headline}" do %>
<div id="twittershare">
  Share on Twitter
</div>
 <% end %>
 
</div>

<!-- Change the width and height values to suit you best -->
<div class="typeform-widget" data-url="https://livegenie.typeform.com/to/j8ZIsZ" data-text="test" style="width:100%;height:350px;margin-top:50px;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
 
<%#= link_to 'Edit', edit_video_path(@video) %> 
<%#= link_to 'Back', videos_path %>

