<!DOCTYPE html>
<html>
<head>
  <title>Videoapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47003478-1', 'livegenie.co');
  ga('send', 'pageview');

</script>
</head>
<body>
 
<div id="hellobar">
  <%= image_tag("livegenielogo.jpg", :size => "35x35", :alt => "Show Group", :class => "style_image" ) %> 
  LIVEgenie         
  </div>
<div id="container">
<%= yield %>
  </div>
  <div id="addvideo">
<%= link_to 'Submit a New Video', new_video_path %>
</div>
  <div id="footer" style="border-top:1px solid;height:60px;text-align:center;background:#ECF0F1;">
    <p> Home | About Us | Contact | Terms  </p>
  </p> All right reserved.  TechTasker 2013 </p>
  </div>
</body>
</html>