<!DOCTYPE html>
<html>
<head>
  <title>Videoapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
<div id="hellobar">
   Everyday Technology. Made Simple 
  </div>
<div id="container">
<%= yield %>
  </div>
  <div id="addvideo">
<%= link_to 'Submit a New Video', new_video_path %>
</div>
  <div id="footer" style="border-top:1px solid;height:60px;text-align:center;background:#ECF0F1;">
    <p> Home | About Us | Contact | Terms  </p>
  </p> All right reserved.  TechTasker 2013 </p>
  </div>
</body>
</html>